[Desktop Entry]
Name=Browser selector
Comment=Choose which browser/profile should open a URL
Exec=/usr/bin/alacritty --title browser-selector -e /usr/bin/env browser_selector.sh %u
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
